.Global-Errors-LI {
  color: red;
}

.Global-Errors-UL {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.Global-Modal-Image-Container {
  display: flex;
  justify-content: center;
}

.Global-Modal-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vh;
  height: 50vh;
  padding: 36px 40px;
  z-index: 100;
  background-color: rgb(48, 48, 48);
}

.Global-ModalForm-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Global-Logo {
  width: 50%;
}

.Global-SubmitButton {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-weight: bolder;
  cursor: pointer;
}

.Global-SubmitButton:hover {
  background-color: rgb(104, 245, 242);
}

.Global-Modal-input {
  padding: 13px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgb(198, 198, 198);
}

.Global-Modal-Header {
  /* padding-top: 15px; */
  color: white;
  opacity: 0.8;
}

.Global-Modal-Label {
  width: 100%;
  display: flex;
}

.Login-Demo {
  padding-top: 19px;
  font-size: 14px;
  cursor: pointer;
  color: #10aab8;
}

.Login-Demo:hover {
  color: #62d3e7;
}

.Global-Modal-Container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vh;
  height: 56vh;
  padding: 36px 40px;
  z-index: 100;
  background-color: rgb(48, 48, 48);
}

.Global-Modal-Container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vh;
  height: 56vh;
  padding: 36px 40px;
  z-index: 100;
  background-color: rgb(48, 48, 48);
}

.Global-Modal-Container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vh;
  height: 56vh;
  padding: 36px 40px;
  z-index: 100;
  background-color: rgb(48, 48, 48);
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .Global-Modal-Container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vh;
    height: 59vh;
    padding: 36px 40px;
    z-index: 100;
    background-color: rgb(48, 48, 48);
  }

  .Global-Modal-Container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vh;
    height: 63vh;
    padding: 36px 40px;
    z-index: 100;
    background-color: rgb(48, 48, 48);
  }
  .Global-Modal-Container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37vh;
    height: 70vh;
    padding: 36px 40px;
    z-index: 100;
    background-color: rgb(48, 48, 48);
  }
}

.generate-buttons {
  border: hideen;
  border: 1px solid teal;
  border-radius: 8px;
  height: 82%;
  padding: -5px;
  position: relative;
  top: 4%;
  right: -2%;
  width: 51%;
  cursor: pointer;
}
