.SingleCard-Container {
  display: flex;
  margin-top: 80px;
}

.SingleCard-Button {
  height: 100%;
  position: absolute;
  width: 100%;
  margin-left: -8px;
  background: transparent;
  margin-top: -7px;
  z-index: 100;
  border: 1px hidden;
  cursor: pointer;
}

.Global-Modal-Container6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37vh;
  height: 55vh;
  padding: 36px 40px;
  z-index: 100;
  background-color: rgb(48, 48, 48);
}

.SingleCard-Info-Holder div {
  padding: 8px;
}

.Global-Modal-Container6 h1 {
  color: white;
  opacity: 0.87;
}

.SingleCard-Info-Holder {
  border-radius: 8px;
  padding: 33px;
  width: 69%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0.75;
}

.SingleCard-Delete-Button {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.SingleCard-Update-Button {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  width: 13vw;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  display: flex;
  font-size: 18px;
  justify-content: center;
  position: relative;
  top: 16px;
  font-weight: bold;
  cursor: pointer;
}

.SingleCard-Delete-Button:hover {
  background-color: rgb(104, 245, 242);
}

.SingleCard-Update-Button:hover {
  background-color: rgb(104, 245, 242);
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .Global-Modal-Container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37vh;
    height: 70vh;
    padding: 36px 40px;
    z-index: 100;
    background-color: rgb(48, 48, 48);
  }
  .SingleCard-Update-Button {
    background-color: rgb(32, 226, 222);
    color: rgb(27, 27, 27);
    border-color: transparent;
    border-radius: 3px;
    width: 18vw;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    display: flex;
    font-size: 17px;
    justify-content: center;
    position: relative;
    top: 16px;
    cursor: pointer;
  }
  .SingleCard-Delete-Button {
    background-color: rgb(32, 226, 222);
    color: rgb(27, 27, 27);
    border-color: transparent;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    cursor: pointer;
  }
  .SingleCard-Info-Holder {
    border-radius: 8px;
    padding: 33px;
    width: 85%;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.75;
  }
}
