.AllCards-Main-Container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background-color: #1d1d1d;
  min-height: 100vh;
  width: 88%;
  text-align: left;
  margin-left: 10rem;
}

.AllCards-Card-Holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  background: #1d1d1d;
  border-top: hidden;
  padding-left: 37px;
  padding-top: 4%;
}

.AllCards-Header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #1d1d1d;
  margin-top: 3%;
  margin-left: 4%;
}

.AllCards-Header h1 {
  color: white;
  opacity: 0.87;
  font-size: 24px;
  margin-top: 3%;
}

.AllCards-Content {
  color: white;
  opacity: 0.69;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px;
  position: relative;
}

.singleCard-img {
  position: absolute;
  top: -23px;
  right: 18px;
  width: 24vh;
  height: auto;
  transform: rotate(-23deg);
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .AllCards-Main-Container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #1d1d1d;
    min-height: 100vh;
    width: 83%;
    text-align: left;
    margin-left: 10rem;
  }

  .singleCard-img {
    position: absolute;
    top: 15px;
    right: -8px;
    width: 24vh;
    height: auto;
    transform: rotate(-23deg);
  }
}
