.profile-dropdown {
  position: absolute;
  background-color: #202022;
  top: 51px;
  border-radius: 8px;
  color: white;
  height: 8vh;
  padding: 16px;
}

.hidden {
  display: none;
}

.Navbar {
  background-color: #1d1d1d;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.Navbar-transparent {
  background-color: transparent;
}

.Navbar-Home-Logo {
  width: 108px;
  object-fit: cover;
  margin-left: 65px;
  padding-right: 14px;
}

.leftNav {
  display: flex;
  align-items: center;
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vh;
  justify-content: flex-end;
}

.Login-Signup-Holder {
  margin-right: 52px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  z-index: 100;
}

.login {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.signup {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.Login-Signup-Holder {
  display: flex;
  gap: 10px;
}

.pfpButton {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 25px;
  font-size: 39px;
}

.logOut-button {
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #06808f;
  cursor: pointer;
  height: 3vh;
  margin-top: 3px;
}

.logOut-button:hover {
  background-color: #5fddee;
}

.Dashboard-Button-Holder {
  margin-right: 40px;
  color: white;
  z-index: 92;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  background: transparent;
  width: 28vw;
  font-size: 21px;
  cursor: pointer;
}

/* Vertical Nav Starts here */

.Vertical-Nav {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 100;
  transition: width 250ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.VerticalNavbar-Home-Logo {
  position: relative;
  bottom: 16%;
  height: 26vh;
  position: relative;
}
.nav-item1 {
  height: 20vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item2 {
  height: 20vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.userIcon-img {
  height: 19vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-item-username {
  position: relative;
  top: -36px;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-item-logout {
  display: none;
}

.nav-item-logout:hover {
  display: flex;
  position: relative;
  top: -33px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.userIcon-img:hover + .nav-item-username + .nav-item-logout {
  display: flex;
  position: relative;
  top: -33px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.nav-item-username:hover + .nav-item-logout {
  display: flex;
  position: relative;
  top: -33px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.multipleCards-img {
  height: 24vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  top: -23px;
}

.nav-item3 {
  height: 20vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 2.5%;
}

.nav-item-allCards-text {
  position: relative;
  top: -90px;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-item4 {
  height: 20vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.transact-img {
  height: 29vh;
  width: 100%;
  display: flex;
  position: relative;
  right: -7px;
}

.transact-text {
  position: relative;
  top: -51px;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-item5 {
  height: 13vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 2%;
}

.addCard-img {
  position: relative;
  bottom: 22px;
}

.addCard-text {
  position: relative;
  top: -51px;
  color: white;
  display: flex;
  justify-content: center;
}

/*

/* .userIcon-img {
  height: 20vh;
  position: relative;
  left: 13px;
  top: -58px;
  cursor: pointer;
  width: 96%;
  z-index: 100;
}

.multipleCards-img {
  height: 22vh;
  position: relative;
  display: flex;
  margin-left: 16px;
}

.link-text-allCards {
  color: white;
  position: absolute;
  right: 33%;
  bottom: 20%;
  font-size: 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-icon-holder {
  display: flex;
  flex-direction: column;
}

.addCard-img {
  height: 20vh;
  position: relative;
  left: 2%;
}

.nav-item-createTransaaction {
  position: relative;
  margin-top: -13%;
}

.nav-item-allCards {
  position: relative;
  margin-top: -33%;
}

.transact-img {
  height: 22vh;
  position: relative;
  right: -6%;
  top: -17%;
}

.transact-text {
  color: white;
  display: flex;
  position: absolute;
  top: 69%;
  left: 32%;
  font-size: 16px;
}

.addCard-text {
  color: white;
  display: flex;
  position: absolute;
  top: 70%;
  left: 29%;
  font-size: 16px;
} */
