.AllTransactions-Main-Container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  background-color: #000000;
  min-height: 100vh;
  width: 88%;
  text-align: left;
  margin-left: 10rem;
}

.AllTransactions-Main-Container h1 {
  color: white;
  opacity: 0.87;
}

.AllTransactions-Card-Holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1d1d1d;
  border-top: hidden;
  padding-left: 25px;
  padding-top: 4%;
}

.AllTransactions-Card-Holder h2 {
  display: flex;
  margin-top: 6%;
  color: white;
  opacity: 0.87;
  width: 100%;
  background-color: #1d1d1d;
  height: 13vh;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.AllTransactions-Content {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 2px solid #05a393cc;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.AllTransactions-Content img {
  height: 10vh;
}

.AllTransactions-Inner-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  opacity: 0.69;
  align-items: center;
  width: 100%;
}

.AllTransactions-Inner-Content > div {
  margin-left: -1%;
  width: 8%;
}

.Date {
  position: relative;
  margin-right: 9%;
}

.AllTransactions-Header {
  display: flex;
  justify-content: space-between;
  color: white;
  opacity: 0.86;
  padding: 6px;
  padding-bottom: 3%;
}

.AllTransactions-Header-Item1 {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2%;
}

.AllTransactions-Header-Item2 {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 2%;
}

.AllTransactions-Header-Item3 {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 2%;
}

.AllTransactions-Header-Item4 {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 2%;
}

.No-Transactions {
  position: relative;
  left: 8px;
}
