.Create-Transaction-Modal-Button {
  color: transparent;
  background-color: transparent;
  position: absolute;
  bottom: 22%;
  border: 1px hidden;
  cursor: pointer;
  height: 16vh;
  width: 100%;
  z-index: 100;
}
