.Create-Transaction-Modal-Button {
  color: transparent;
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  bottom: 29%;
  right: 28%;
  border: 1px hidden;
  cursor: pointer;
  height: 17vh;
  width: 8vw;
  z-index: 100;
}
