.Create-Transaction-Modal-Button {
  color: transparent;
  background-color: transparent;
  position: absolute;
  bottom: 10%;
  border: 1px hidden;
  cursor: pointer;
  height: 13vh;
  width: 100%;
  z-index: 100;
  left: 0%;
}
