.SingleTransaction-Button {
  position: absolute;
  width: 86%;
  height: 10%;
  background: transparent;
  border: hidden;
  z-index: 99;
  cursor: pointer;
}

.SingleTransaction-Main-Container {
  width: 37vh;
  max-height: 110vh;
  min-height: 85vh;
  height: auto;
  background-color: rgb(48, 48, 48);
  color: white;
}

.SingleTransaction-Main-Container p {
  opacity: 0.73;
}

.SingleTransaction-Main-Container h2 {
  opacity: 0.9;
}

.SingleTransaction-Top-Holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleTransaction-Bottom-Holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 27%;
  border-top: 2px solid teal;
  padding-top: 15px;
}

.SingleTransaction-Main-Container p {
  position: relative;
  bottom: 30px;
}

.SingleTransaction-Div-Amount {
  font-size: 60px;
  opacity: 0.79;
  font-size: 60px;
  opacity: 0.8;
  position: relative;
  top: 51px;
}

.SingleTransaction-Div-Created-At {
  position: relative;
  top: 45px;
  font-size: 15px;
  opacity: 0.7;
}

.SingleTransaction-Div-Description {
  position: relative;
  top: 109px;
  opacity: 0.73;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  width: 70%;
}

.SingleTransaction-Bottom-Holder div {
  padding: 5px;
}
.SingleTransaction-Button-Holder {
  display: flex;
  gap: 28px;
  position: relative;
  top: 2px;
  flex-direction: column;
}

.SingleTransaction-Delete {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  width: 13vw;
  padding: 10px;
  margin-bottom: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.SingleTransaction-Delete:hover {
  background-color: rgb(104, 245, 242);
  cursor: pointer;
}

.Update-Transaction-Button {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  width: 261px;
  padding: 10px;
  margin-bottom: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 15px;
  height: 37px;
  display: flex;
  align-items: center;
}

.Update-Transaction-Button:hover {
  background-color: rgb(104, 245, 242);
  cursor: pointer;
}

.SingleTransaction-Div {
  opacity: 0.73;
}

.SingleTransaction-Accept {
  background-color: rgb(32, 226, 222);
  color: rgb(27, 27, 27);
  border-color: transparent;
  border-radius: 3px;
  width: 13vw;
  padding: 10px;
  margin-bottom: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: relative;
  top: 34px;
  cursor: pointer;
}

.SingleTransaction-Accept:hover {
  background-color: rgb(104, 245, 242);
  cursor: pointer;
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .SingleTransaction-Main-Container {
    width: 42vh;
    height: 111vh;
    background-color: rgb(48, 48, 48);
    color: white;
  }

  .SingleTransaction-Delete {
    background-color: rgb(32, 226, 222);
    color: rgb(27, 27, 27);
    border-color: transparent;
    border-radius: 3px;
    width: 16vw;
    padding: 10px;
    margin-bottom: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    cursor: pointer;
  }

  .Update-Transaction-Button {
    background-color: rgb(32, 226, 222);
    color: rgb(27, 27, 27);
    border-color: transparent;
    border-radius: 3px;
    width: 242px;
    padding: 10px;
    margin-bottom: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 15px;
    height: 37px;
    display: flex;
    align-items: center;
  }
}
