.SingleTransaction-Button {
  position: absolute;
  width: 86%;
  height: 10%;
  background: transparent;
  border: hidden;
  z-index: 99;
}

.SingleTransaction-Main-Container {
  width: 37vh;
  height: 74vh;
  background-color: rgb(48, 48, 48);
  color: white;
}

.SingleTransaction-Main-Container p {
  opacity: 0.73;
}

.SingleTransaction-Main-Container h2 {
  opacity: 0.9;
}

.SingleTransaction-Top-Holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleTransaction-Bottom-Holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 27%;
  border-top: 2px solid teal;
  padding-top: 15px;
}

.SingleTransaction-Main-Container p {
  position: relative;
  bottom: 30px;
}

.SingleTransaction-Div-Amount {
  font-size: 60px;
  opacity: 0.79;
  font-size: 60px;
  opacity: 0.8;
  position: relative;
  top: 51px;
}

.SingleTransaction-Div-Created-At {
  position: relative;
  top: 45px;
  font-size: 15px;
  opacity: 0.7;
}

.SingleTransaction-Div-Description {
  position: relative;
  top: 109px;
  opacity: 0.73;
}

.SingleTransaction-Bottom-Holder div {
  padding: 5px;
}
.SingleTransaction-Button-Holder {
  display: flex;
  gap: 47px;
  position: relative;
  top: 13px;
}

.SingleTransaction-Delete {
  border: 3px solid teal;
  border-radius: 10px;
  width: 5vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 4vh;
  align-items: center;
  cursor: pointer;
}

.SingleTransaction-Delete:hover {
  border: 3px solid rgb(90, 244, 244);
  background: #313131;
  cursor: pointer;
}

.Update-Transaction-Button {
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins";
  border: 3px solid teal;
  border-radius: 10px;
  width: 6vw;
  display: flex;
  justify-content: center;
  height: 53.5px;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 9px;
}

.Update-Transaction-Button:hover {
  border: 3px solid rgb(90, 244, 244);
  background: #313131;
  cursor: pointer;
}

.SingleTransaction-Div {
  opacity: 0.73;
}

.SingleTransaction-Accept {
  cursor: pointer;
  border: 3px solid teal;
  border-radius: 8px;
  height: 3vh;
}

.SingleTransaction-Accept:hover {
  border: 3px solid rgb(90, 244, 244);
  background: #313131;
  cursor: pointer;
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .SingleTransaction-Main-Container {
    width: 42vh;
    height: 80vh;
    background-color: rgb(48, 48, 48);
    color: white;
  }
}
