.createCard-Button {
  border: hidden;
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  position: absolute;
  right: 24%;
  top: 14%;
  cursor: pointer;
  height: 16vh;
  z-index: 100;
}
