.createCard-Button {
  border: hidden;
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  position: absolute;
  right: 4%;
  top: -21%;
  cursor: pointer;
  height: 12vh;
  width: 96%;
  z-index: 100;
}

.generate-buttons {
  background-color: rgb(32, 226, 222);
  border-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0.8;
}

.generate-buttons:hover {
  background-color: #7bf5e8;
}
